/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23/05/2015, 02:05:18 PM
    Author     : santosdx
*/
@font-face {
    /*font-family: 'DeliciousRoman';
    src: url("#{resource['font/Delicious-Roman.otf']}");
    src: url('../font/Delicious-Roman.otf');*/
}

body{
    font-family: Sans-Serif, Arial, Helvetica; 
    font-size: 0.8em;
}

